<div class="box">
  <div class="pay-form">
    <div class="input-box">
      <span>Informacion de Pago</span>
    </div>
    <div class="input-box">
      <span>Nombre Completo</span>
    </div>
    <div class="input-box">
      <span>Numero de Tarjeta de Credito</span>
    </div>
    <div class="input-box">
      <span>Fecha vencimiento</span>
      <span>CVV</span>
    </div>
    <div class="input-box">
      <span>Direccion</span>
    </div>
    <div class="input-box">
      <span>Verificas que esta informacion es correcta</span>
    </div>
  </div>
</div>
