<div class="box">
  <div class="pay-form">
    <div class="input-box">
      <span>Informacion de Pago</span>
    </div>
    <div class="input-box">
      <span>Nombre Completo</span>
      <input type="text" name="" id="" />
    </div>
    <div class="input-box">
      <span>Numero de Tarjeta de Credito</span>
      <input type="text" name="" id="" />
      <fa-icon [icon]="faCreditCard"></fa-icon>
    </div>
    <div class="input-box">
      <span>Fecha vencimiento</span>
      <input type="text" name="" id="" />
      <span>CVV</span>
      <input type="text" name="" id="" />
      <fa-icon [icon]="faExclamationCircle"></fa-icon>
    </div>
    <div class="input-box">
      <span>Direccion</span>
      <input type="text" name="" id="" />
    </div>
    <div class="input-box">
      <input type="button" name="" id="" />
      <span>Verificas que esta informacion es correcta</span>
    </div>
  </div>
</div>
