<div class="box">
  <div class="pay-form">
    <div class="input-box column center-items">
      <img class="image" src="assets/fedora.png">
      <span class="label">Informacion de Pago</span>
    </div>
    <div class="input-box column">
      <span>Nombre Completo</span>
      <input type="text" name="" id="" />
    </div>
    <div class="input-box column">
      <span>Numero de Tarjeta de Credito</span>
      <input type="text" name="" id="" />
      <fa-icon [icon]="faCreditCard"></fa-icon>
    </div>
    <div class="input-box">
      <div class="half-box">
        <span>Fecha vencimiento</span>
        <input type="text" name="" id="" />
      </div>
      <div class="half-box">
        <span>CVV</span>
        <input type="text" name="" id="" />
        <fa-icon [icon]="faExclamationCircle"></fa-icon>
      </div>
    </div>
    <div class="input-box column">
      <span>Direccion</span>
      <input type="text" name="" id="" />
    </div>
    <div class="input-box column">
      <input type="button" name="" id="" />
      <span class="small_label">Verificas que esta informacion es correcta</span>
    </div>
  </div>
</div>
